html{
    background: linear-gradient(black, red, black);
    font-size: 30px;
    color: beige;
    background-attachment: fixed;
}
form p{
    width: 50%;
    float: left;
}
button{
    width: 33%;
    float: left;
    font-size: 30px;
    border: 2px solid white;
    color: black;
    transition: ease-in-out 0.3s;
}
button:hover{
    color: red;
}
input{
    font-size: 30px;
}
span{
    color: orange;
}